
*.lock
*.ide
*.ide-shm
*.ide-wal
*.txt
*.cache
*.exe
*.pdb
*.resources
*.config
*.cache
*.cache
Article/.vs/Article/v15/.suo
Article/.vs/Article/v15/.suo
*.dll
*.cache
*.dll
*.dll
*.dll
*.dll
*.cs
*.dll
*.dll
*.dll
